# locald ev env
env/
env38/
# local editor
.vscode/
# local type checks
.mypy_cache/
results/*
# sphinx autodoc documentation creation
source/
_static/
build/
__pycache__/

*.pyc

# local coverage results
.coverage

*.simc
log.txt
error.log
apikey.py

make.bat
Makefile
