# directories
__pycache__/
# sphinx autodoc documentation creation
_static/
# local type checks
.mypy_cache/
# local editor
.vscode/
build/
# local dev env
env*/
source/
results/

# files
# local coverage results
.coverage
*.pyc
*.simc
apikey.py
error.log
log.txt
make.bat
Makefile
