# Lib with World of Warcraft game data for simulations and some input checks for SimulationCraft.
-e git+https://github.com/Bloodmallet/simc_support.git@9118caec0d2e6e0600676f703369180f85806d9c#egg=simc_support
