# Lib with World of Warcraft game data for simulations and some input checks for SimulationCraft.
-e git+https://github.com/Bloodmallet/simc_support.git@60e9c0e7cc454a9181b0006b4cb33893c91cece4#egg=simc_support
